<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../includes/linkscssprofile.ejs'); %>
</head>

<body>

  <%- include('../includes/head.ejs'); %>

  <div class="page-content">
    <div class="row">

      <%- include('../includes/leftcolumn.ejs'); %>

      <div class="col-md-10">

        <% if(msg){ %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Sucesso!</strong>
          <%=msg%>
        </div>
        <% } %>

        <div class="row">
          <div class="col-md-12">
            <div class="content-box-large">
              <div class="panel-heading">
                <div class="panel-title">Detalhes do Produto</div>

              </div>
              
              <div class="panel-body">
                <%- include('../includes/validation.ejs'); %>
                <form action="/edit_product?id=<%=data.id%>" 
                  method="POST" enctype="multipart/form-data">
                  <!-- name  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Nome</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Nome" 
                      id="title" name="title" value="<%=data.title%>">
                    </div>
                  </div>
                  <hr>
                
                  <!-- description  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Descrição</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea type="text" class="form-control" placeholder="Descrição" 
                      id="description" name="description" rows="3"
                        wrap="hard"><%=data.description%></textarea>
                    </div>
                  </div>
                  <hr>

                  <!-- unique flavor -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Sabor Único</label>
                    </div>
                    <div class="col-sm-3">
                      <select name="uniqueFlavior" class="form-control" onchange="uniqueFlavor(this.value);">
                        <% if(data.unique_flavor == 1){ %>
                          <option value="1" selected>Sim</option>
                          <option value="0">Não</option>
                        <% } else { %>
                          <option value="1">Sim</option>
                          <option value="0" selected>Não</option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <hr>

                  <% if(data.unique_flavor == 1){ %>
                  <!-- price  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Preço R$</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" 
                      placeholder="Preço" id="price" name="price" value="<%=data.price%>"
                      onkeyup="replacePoint(this);">
                    </div>
                  </div>
                  <hr>
                  <!-- small price  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Preço Pequeno R$</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" 
                      placeholder="Preço Pequeno" id="small_price" 
                      name="small_price" value="<%=data.small_price%>"
                      onkeyup="replacePoint(this);">
                    </div>
                  </div>
                  <hr>
                  <!-- large price  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Preço Grande R$</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" 
                      placeholder="Preço Grande" id="large_price" 
                      name="large_price" value="<%=data.large_price%>"
                      onkeyup="replacePoint(this);">
                    </div>
                  </div>
                  <hr>
                  <!-- promotional price  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Preço Promocional R$</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" 
                      placeholder="Preço Promocional" id="price" 
                      name="promotional_price" value="<%=data.promotional_price%>"
                      onkeyup="replacePoint(this);">
                    </div>
                  </div>
                  <hr>
                  <% } %>
                  <% if(data.image !== 'null'){ %>
                  <!-- image  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Imagem</label>
                    </div>
                    <div class="col-sm-3">
                      <img src="/upload/product_images/<%=data.image %>" 
                      width="240px;">                      
                    </div>
                  </div>
                  <hr>
                  <% } %>

                  <!-- changeImage  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">
                        <% if(data.image !== 'null') { %>
                          Substituir Imagem
                        <% }else{ %>
                          Imagem
                        <% } %>
                      </label>
                    </div>
                    <div class="col-sm-3">
                      <input type="file" class="form-control" 
                      name="changeImage">
                    </div>
                  </div>
                  <hr>

                  <!-- category -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Categoria</label>
                    </div>
                    <div class="col-sm-3">
                      <select name="category" id="category" class="form-control">
                        <% for(const category of categories){ %>
                        <option value="<%=category.id %>"
                          <% if(data.category == category.id){ %>selected="selected"<%}%>>
                          <%=category.title %>
                        </option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <hr>                 
                  
                  <div class="row">
                    <div class="col-sm-2" style="text-align: center">
                      <input class="form-control btn btn-primary" 
                      type="submit" value="Editar" />
                    </div> 
                    <% if(data.unique_flavor == 0) { %>
                    <div class="col-sm-2" style="text-align: center">
                      <a class="form-control btn btn-warning">Editar Preços</a>
                    </div>
                    <% } %>
                    <div class="col-sm-2" style="text-align: center">
                      <a class="form-control btn btn-danger" 
                      href="/delete_product?id=<%=data.id%>">
                        Deletar  
                      </a>
                    </div>
                  </div>
                  <hr>
                
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <%- include('../includes/footer.ejs'); %>

  <%- include('../includes/linksjsprofile.ejs'); %>

</body>

</html>