<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../includes/linkscssprofile.ejs'); %>
</head>

<body>

  <%- include('../includes/head.ejs'); %>

  <div class="page-content">
    <div class="row">

      <%- include('../includes/leftcolumn.ejs'); %>

      <div class="col-md-10">

        <% if(msg){ %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Sucesso!</strong>
          <%=msg%>
        </div>
        <% } %>

        <div class="row">
          <div class="col-md-12">
            <div class="content-box-large">
              <div class="panel-heading">
                <div class="panel-title">Preços de: <%=product.title %></div>
                <!-- id do produto -->
                <input type="hidden" id='idProduto' value="<%=product.id %>">

              </div>

              <div class="panel-body">
                <%- include('../includes/validation.ejs'); %>
                                 
                  <% for(index in data){ %>
                  <form action="/edit_pf" method="POST">
                    <input type="hidden" id='idPF' name='idPF' value="<%=data[index].id%>">
                    <hr>
                    <div class="row">
                      <div class="col-sm-3" style="text-align: center">
                        <label class="form-control">Quantidade de sabores</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Quantidade de Sabores" 
                        id="amount_flavor<%=index%>" name="amount_flavor" 
                        value="<%= data[index].amount_flavor %>">
                      </div>
                      <div class="col-sm-3" style="text-align: center">
                        <label class="form-control">Preço R$</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Preço" 
                        id="price<%=index%>" name="price" value="<%= data[index].price %>"
                        onkeyup="replacePoint(this);">
                      </div>
                    </div>
                    <hr>   

                    <div class="row">
                      <div class="col-sm-3" style="text-align: center">
                        <label class="form-control">Preço Pequeno R$</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Preço Pequeno" 
                        id="small_price<%=index%>" name="small_price" 
                        value="<%= data[index].small_price %>" onkeyup="replacePoint(this);">
                      </div>
                      <div class="col-sm-3" style="text-align: center">
                        <label class="form-control">Preço Grande R$</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Preço Grande" 
                        id="large_price<%=index%>" name="large_price"
                          value="<%= data[index].large_price %>" onkeyup="replacePoint(this);">
                      </div>
                    </div>
                    <hr>
                    
                    <div class="row">
                      <div class="col-sm-3" style="text-align: center">
                        <label class="form-control">Preço Promocional R$</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Preço Promocional" 
                        id="promotional_price<%=index%>" name="promotional_price"
                          value="<%= data[index].promotional_price %>"
                          onkeyup="replacePoint(this);">
                      </div>                    
                    </div>
                    <hr>

                    <div class="row">                    
                      <div class="col-sm-2" style="text-align: center">
                        <input class="form-control btn btn-primary" type="submit" value="Editar" />
                      </div>
                      <div class="col-sm-2" style="text-align: center">
                        <a class="form-control btn btn-danger" href="/delete?idPF=<%=data[index].id %>">
                          Delete
                        </a>
                      </div>
                      
                    </div>
                    <hr>
                    
                  </form>
                  <% } %>  
                  <hr>
                  <div id="newForms">

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-2">
                      <input type="button" class="form-control btn-success" 
                      value="Adicionar Preço" onclick='newPF();'>
                    </div>
                  </div>
              </div>
              
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <%- include('../includes/footer.ejs'); %>

  <%- include('../includes/linksjsprofile.ejs'); %>

</body>

</html>