<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('includes/linkscssprofile.ejs'); %>
  </head>
  <body>

  	<%- include('includes/head.ejs'); %>

    <div class="page-content">
    	<div class="row">

		  <%- include('includes/leftcolumn.ejs'); %>
			
		  <div class="col-md-10">

				<% if(msg){ %>
				<div class="alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Sucesso!</strong> <%=msg%>
				</div>
				<% } %>

				<div class="row">
					<div class="col-md-12 panel-info">
						<div class="content-box-header panel-heading">
							<div class="panel-title ">Meus Dados</div>
				
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
						<div class="content-box-large box-with-header">
							<%- include('includes/validation.ejs'); %>
							<form action="/profile" method="POST">
								<!-- name  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">Nome</label>
									</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="Nome" 
										id="name" name="name" value="<%= user.name %>">
									</div>
								</div>							
								<hr>

								<!-- email  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">E-Mail</label>
									</div>
									<div class="col-sm-9">
										<input type="email" class="form-control" placeholder="E-Mail" 
										id="email" name="email" value="<%= user.email %>">
									</div>
								</div>							
								<hr>

								<!-- password  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">Senha</label>
									</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" 
										placeholder="Senha" id="pwd" name="pwd" 
										value="<%= user.password %>">
									</div>
								</div>
								<hr>

								<!-- cpf  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">CPF</label>
									</div>
									<div class="col-sm-2">
										<input type="number" class="form-control" 
										placeholder="CPF" id="cpf" name="cpf"
										value="<%= user.cpf %>">
									</div>
								</div>
								<hr>

								<!-- public place  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">Logradouro</label>
									</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" 
										placeholder="Logradouro" id="public_place" name="public_place"
										value="<%= user.public_place %>">
									</div>
								</div>
								<hr>

								<!-- number  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">Número</label>
									</div>
									<div class="col-sm-2">
										<input type="number" class="form-control" 
										placeholder="Número" id="number" name="number"
										value="<%= user.number %>">
									</div>
								</div>
								<hr>

								<!-- cep  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">CEP</label>
									</div>
									<div class="col-sm-2">
										<input type="number" class="form-control" placeholder="CEP" 
										id="cep" name="cep" value="<%= user.cep %>">
									</div>
								</div>
								<hr>

								<!-- complement  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">Complemento</label>
									</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" 
										placeholder="Complemento" id="complement" name="complement"
										value="<%= user.complement %>">
									</div>
								</div>
								<hr>

								<!-- neighborhood  -->
								<div class="row">
									<div class="col-sm-3" style="text-align: center">
										<label class="form-control">Bairro</label>
									</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" 
										placeholder="Bairro" id="neighborhood" name="neighborhood"
										value="<%= user.neighborhood %>">
									</div>
								</div>
								<hr>

								<div class="row">
									<div class="col-sm-2" style="text-align: center">
										<input class="form-control btn btn-primary" 
										type="submit" value="Editar"/>
									</div>
									
								</div>
								<hr>

							</form>					
				
						</div>
					</div>
				</div>
			</div>
	  		
		  </div>
		</div>
    </div>

		<%- include('includes/footer.ejs'); %>

		<%- include('includes/linksjsprofile.ejs'); %>
		
  </body>
</html>