<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../includes/linkscssprofile.ejs'); %>
</head>

<body>

  <%- include('../includes/head.ejs'); %>

  <div class="page-content">
    <div class="row">

      <%- include('../includes/leftcolumn.ejs'); %>

      <div class="col-md-10">

        <% if(msg){ %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Sucesso!</strong>
          <%=msg%>
        </div>
        <% } %>

        <div class="row">
          <div class="col-md-12">
            <div class="content-box-large">
              <div class="panel-heading">
                <div class="panel-title">Detalhes</div>

              </div>

              <div class="panel-body">
                <%- include('../includes/validation.ejs'); %>

                <form action="/detalhes?id=<%=data.id %>" method="POST">
                  <input type="hidden" name="id" value="<%= data.id %>">
                  <!-- name  -->
                  <div class="row">
                    <div class="col-sm-3" style="text-align: center">
                      <label class="form-control">Título</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Título" id="title" name="title" value="<%= data.title %>">
                    </div>
                  </div>
                  <hr>
                
                  <div class="row">
                    <div class="col-sm-2" style="text-align: center">
                      <input class="form-control btn btn-primary" 
                      type="submit" value="Editar" />
                    </div>
                    <div class="col-sm-2" style="text-align: center">
                      <a class="form-control btn btn-danger"
                      href="/delete_category?id=<%=data.id %>">
                        Delete
                      </a>
                    </div>
                
                  </div>
                  <hr>
                
                </form>

              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>

  <%- include('../includes/footer.ejs'); %>

  <%- include('../includes/linksjsprofile.ejs'); %>

</body>

</html>